<h1> Send me a text message...</h1>
<form action="/" method="post">
  <input type="submit" value="Enter your number and Click to Send SMS" />
  <input id="sms" name="sms" type="text" value="(without dashes)" />
</form> 